#regester{
    background-color: rgb(176, 224, 220);
    width: 50%;
    margin: auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 7px 7px 12px rgb(177, 177, 235);
    color: black;
}
legend{
    color: green;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    text-shadow: 0px 0px 12px grey;
}
input[type ="text"], input[type="email"], input[type="password"],input[type="tel"],input[type="date"],input[type="datetime-local"]
{
   width: 100%;
   height: 40px;
   border-radius: 12px;
   border: none;
   box-shadow: 3px 3px 8px grey;
   padding-left: 12px;
   
}
#nationality{
    width: 70%;
    height: 40px;
    border-radius: 12px;
    border: none;
}
button{
    width: 40%;
    height: 45px;
    border-radius: 12px;
    border: none;
    background-color: green;
    color: white;
    font-size: 20px;
    font-weight: bolder;
    box-shadow: 3px 3px 8px grey;
    cursor: zoom-out;
    margin:  0 auto;
    margin-left: 200px;
    
    
}
button:hover{
    background-color: grey;
}
textarea{
    border-radius: 12px;
    box-shadow: 0px 0px 12px grey;
}
body{
    background-image: url(../resources/car5.webp);
    background-repeat: no-repeat;
    background-size: cover;
}