h1{

    color: #f1223a;
}
h2{
    font-size: larger;
    color: #f1223a;
}
#Heading1{
    background-color: black;
    line-height: 50px;
    color: rgb(255, 192, 241);
}
.paragraph{
    font-weight: bold;
    font-size: large;
    font-style: italic;
}
#vip{
    background-color: bisque;
    height: 350px;
    width: 90%;
    display: flex;
    padding: 40px;
    border-radius: 35px;
}
#vip:hover{
   background-color: blue; 
}
#vip img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-right: 30px;
}
#surprises{
    justify-content: space-around;
}
.devide{
    
    background-color: bisque;
    height: 250px;
    width: 90%;
    display: flex;
    padding: 40px;
    border-radius: 35px;
    margin-top: 10px;
    
}
.devide img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-right: 30px;

}
#cars{
    margin-top: 5px;
    display: flex;
    gap: 120px;
    border-radius: 10px;
}
#cars,h2{
    text-align: center;
    color: black;
    margin: 0px;
    padding: 0px;
    line-height: 1.1;
}
.car{
    color: black;
    font-weight: bolder;
    font-size: larger;
    text-align: center;
    margin: 0px;
    padding: 0px;
    line-height: 1.1;
}
.car ,img{
    height: 210px;
    width: 350px;
    border-radius: 15px;
    margin-top: 10px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    display: block;
    margin-bottom: 20px;
}
.box{
    box-shadow: aquamarine;
}
